html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    height: 100%;
    line-height: 1;
    min-height: 800px;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
html {
    height: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #616161;
}

a:hover {
    text-decoration: none;
    color: #616161;
}

a:visited {
    color: #616161;
}

.cover-crop-what-images {
    border-radius: 50%;
    height: 180px;
    width: 180px;
}

.cover-crop-what-image-cont {
    display: flex;
    justify-content: center;
}

li {
    margin-bottom: 5px;
}

#root {
    display: flex;
    background-color: #424242;
    font-family: "Helvetica";
    height: 100%;
    width: 100%;
    font-weight: 100;
}

.nav-link {
    border-bottom: solid;
    border-bottom-color: #827717;
    border-bottom-width: 1px;
    height: 34px;
    padding: 9px 0px 2px 30px;
    font-size: 13px;
    color: #e0e0e0;
    text-decoration: none;
    box-sizing: border-box;
}

.nav-link:hover {
    border-bottom: solid;
    border-bottom-color: #b4a647;
    border-bottom-width: 1.5px;
}

.nav-links a {
    text-decoration: none;
}

.home-links {
    text-decoration: none;
}

.home-links:hover {
    color: #bcbcbc;
    text-decoration: none;
}

.article-nav-item {
    height: 20%;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #827717;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
}
.article-nav-item:hover {
    border: 1.5px solid #b4a647 !important;
}

.submit-btn {
    background-color: "white" !important;
}

.news-overlay {
    background-color: rgb(232, 232, 232, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 800;
    text-align: center;
    box-sizing: border-box;
    padding-top: 30%;
}

.news-overlay:hover {
    background-color: rgb(232, 232, 232, 0.3);
    color: "white" !important;
}
