<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <base href="/" />
    <title>Benya Burnett | Home</title>
    <meta name="title" content="Benya Burnett Consultancy">
    <meta name="description" content="Benya Burnett Consultancy combines Edison award winning illuminating engineering and lighting design with internationally recognized excellence in circadian wellness and epigenetic design expertise.">
    <meta name="keywords" content="Light, Davis, YOLO County, Design Service">
    <meta name="author" content="Leo Qiu">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="Benya Burnett Consultancy" />
    <meta property="og:description" content="Benya Burnett Consultancy - Integrating Architectural Lighting, Daylighting Design & Evidence-Based Epigenetic Design Solutions." />
    <meta property="og:url" content="https://www.benyaburnett.com/" />
    <meta property="og:site_name" content="Benya Burnett Consultancy" />
    <meta property="og:updated_time" content="2018-07-23T11:12:24+00:00" />
    <meta property="og:image" content="https://benya.nyc3.digitaloceanspaces.com/benyaOGImage.jpg" />
    <meta property="og:image:secure_url" content="https://benya.nyc3.digitaloceanspaces.com/benyaOGImage.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Benya Burnett Consultancy combines Edison award winning illuminating engineering and lighting design with internationally recognized excellence in circadian wellness and epigenetic design expertise." />
    <meta name="twitter:title" content="Benya Burnett Consultancy" />
    <meta name="twitter:image" content="https://benya.nyc3.digitaloceanspaces.com/benyaOGImage.jpg" />
</head>

<body>
    <div id="root"></div>

    <!-- Dependencies https://stackoverflow.com/questions/32070303/uncaught-referenceerror-react-is-not-defined -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.1/umd/react.production.min.js" integrity="sha256-r6coyN0DEl/vyKMiiB9+AjqSKO8XTdGOFjlAhSnsqxM="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.1/umd/react-dom.production.min.js" integrity="sha256-y7o/b35Jyjb19wJ//GUjm84bLl+YlmDGmnwpgZvzN+4="
        crossorigin="anonymous"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
</body>

</html>